body {
  background-color: lightgreen;
  font-family: monospace;
}

h1 {
  text-align: center;
  color: white;
  margin: 20px;
  padding: 25px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;


}

.startButton {
  height: 7em;
  width: 12em;
  background-color: beige;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;


}

.gameArea {
  display: flex;
  justify-content: space-around;
}

.scoreTimer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}